@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .Header {
    height: 50vh; 
  }
}

header {
    width: max-content;
    font-size: 12px;
}

.offScreenMenu {
    background-color: #3c2e27; 
    
    /*#faf3e7;
     text: #3c2e27; */
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    top: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.5rem;
    transition: .3s;               /*REPLACE WITH GSAP*/
}

.offScreenMenu.active  {          /*Replace this too :0 */
    right: 0;
}

.mainNav{
    height: 50px;
    width: 50px;
    margin-left: auto ;   /*yeah*/ 
    position: relative;   /*childrens span needs to be relative to parent below */

}

.hamburgerMenu span {
    height: 5px;
    width: 100%;
    background-color:#faf3e7; 
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate (-50%,-50%);
    transition: .3s ease;
} 

.hamburgerMenu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);

}

.hamburgerMenu span:nth-child(2) {
    opacity: 0;                                    /*hides the second line in the toggle menu*/ 
}

.hamburgerMenu span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* When active */
.hamburgerMenu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.hamburgerMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

body {
    /* background: ; */
    font-family: '', sans-serif;
    margin: 2rem;
} 

#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 4px;
    font-size: 14px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: rgb(2, 0, 55);
    background-color: rgb(179, 110, 0);
    border: none;
    border-radius: 4px;
}

.inputControl {
    display: flex;
    flex-direction: column;
}

.inputControl input {
    border: 2px solid #070372;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 85%;   /*input bar size */
    max-width: 300px;
}

.inputControl input:focus {
    outline: 0;
}

.inputControl.success input {
    border-color: #09c372;
}

.inputControl.error input {
    border-color: #ff3860;
}

.inputControl .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.productName {
    margin: 2rem;
    background-color: #0f2027;
    font-family:  'Lucida Grande',  Geneva, sans-serif;
    font-size: 12px;


}