.productCard h3{
    color: #3c2e27;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 22px;
}

.productCard h2{
    color: #3c2e27;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 30px;
}

