.topNav {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 18px;
  z-index: 1000;
}

.iconLink {
  color: #f1f1f1; 
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconLink:hover {
  transform: scale(1.1);
  color: #c9a97e; /* coffee gold hover accent */
}

/* Side Nav  */
.sideNav {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #6b4f2d; 
  padding: 20px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 900;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transform: translateY(-50%) translateX(-30px);
  pointer-events: none;
  padding: 20px 10px;


}

.sideNav.visible {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  pointer-events: auto;
}

.sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideNav li {
  margin-bottom: 15px;
}

.sideNav a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.sideNav a:hover {
  color: #c9a97e;
  transform: translateX(3px);
}

.sideNav i {
  font-size: 14px;
  color: #f1f1f1; 
}

.topNav .navLink.active i,
.sideNav .navLink.active i {
  color: #d4a373; 
  font-size: 22px;
  transition: color 0.3s ease, transform 0.3s ease;

}

.navLink.active {
  color: #d4a373;
  font-weight: bold;
}

.navLink{
    color: #f1f1f1;
    text-decoration: none;
    opacity: 100%;
}


.topNav .navLink:hover i {
  color: #403220; 
  transform: scale(1.1);
}